.forms {
  border: solid 2px #898989;
  border-radius: 0;
}

input[type="file"] {
  display: none;
}

.formsImagem {
  background-color: #344953;
  border-radius: 6px;
  height: 140px;
  width: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nomeBarra {
  font-size: 13px;
  font-weight: 700;
  color: #34495e;
}

.botaoSubmeter {
  width: 186px;
  height: 58px;
  background-color: rgba(255, 168, 1, 0.75);
  border: solid 2px #ffa801;
  color: #34495e;
  font-size: 18px;
  border-radius: 0;
}
.botaoSubmeterDisabled {
  width: 146px;
  height: 37px;
  background-color: rgba(196, 196, 196, 0.75);
  border: solid 2px #c4c4c4;
  color: #34495e;
  font-size: 18px;
  border-radius: 0;
}
