.tituloEquipa {
  color: #34495e;
  font-size: 48px;
  font-weight: 500;
}

.setinha {
  transform: rotate(180deg);
}

.mainImage {
  height: 170px;
}

.butEscolhe {
  background-color: #ffc65a;
  border: 2px #ffa801 solid;
  color: #34495e;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.textoEquipa {
  width: 80%;
}
