.spanNivel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nomeUtilizador {
  font-size: 18px;
  font-weight: 500;
  color: #34495e;
}

.nomeNivel {
  font-size: 11px;
  color: #898989;
  margin-top: -5px;
}

.experienciaNivel {
  font-size: 11px;
  color: #898989;
  margin-top: 5px;
}

.nivel {
  font-size: 30px;
  font-weight: 500;
  color: #34495e;
}

.imgStats {
  height: 35px;
  width: 35px;
}

.bgSeccao {
  background: rgba(196, 196, 196, 0.22);
  padding: 20px 30px 20px 30px;
  width: 100vw;
}

.subtituloGH {
  margin-left: 30px;
}

.textoEstatisticas {
  font-size: 13px;
  color: #34495e;
}

.nomeCracha {
  font-size: 11px;
  color: #34495e;
}

.imgCracha {
  height: 50px;
  width: auto;
}

.btnTeam {
  background-color: #cce6c1;
  border: solid 1px #62b240;
  height: 81px;
}

.nomeEquipa {
  font-size: 24px;
  color: #34495e;
}
