.nomeUser {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: black;
}
.extraInfoUser {
  font-size: 11px;
  color: #898989;
  margin-top: -3px;
  margin-bottom: 0;
}

.inicio {
  top: -15px;
}

.nomeEdificio {
  font-size: 24px;
  color: #34495e;
  text-align: center;
}

#descricaoEdificio {
  font-size: 14px;
}

.tipoClass {
  font-size: 12px;
  margin-bottom: 0;
  color: #34495e;
}

.textoComments {
  font-size: 12px;
  margin-top: 0;
}

.NomeComments {
  color: #34495e;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

.botaoFotografia {
  border: 0;
  width: 100px;
  height: 25px;
  background-color: #34495e;
  color: white;
  font-size: 9px;
  font-weight: 700;
}

.btnPublicar {
  height: 35px;
  width: 100px;
  font-size: 14px;
  background-color: rgba(255, 168, 1, 0.75);
  border: solid 2px #ffa801;
  float: right;
  color: #34495e;
}

.btnPublicarDisabled {
  height: 35px;
  width: 100px;
  font-size: 14px;
  background-color: rgba(196, 196, 196, 0.75);
  border: solid 2px #c4c4c4;
  float: right;
  color: #34495e;
}
