#NomeUser {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0 0 0;
  color: #34495e;
}

#DataUser {
  font-size: 11px;
  color: #898989;
  margin-bottom: 25px;
}

#seccaoTitulo {
  font-size: 17px;
  font-weight: 900;
  color: #34495e;
}

#biografiaTexto {
  font-size: 14px;
  color: #010101;
}

.nomeTrofeu {
  font-size: 12px;
  font-weight: 500;
}

.imgCarousel {
  height: 175px;
  width: 100%;
}
